<div class="tracking-list">
  <hr>
  <div>
    <%= tracking_list.name %>
    <%= link_to '編輯', edit_tracking_list_path(tracking_list.id) %>
    <%= link_to '刪除', tracking_list_path(tracking_list.id), method: :delete, data: { confirm: 'Are you sure?' } %>
    <% if show_down_link %>
      <%= link_to '下移', down_tracking_list_path(tracking_list.id), method: :post %>
    <% end %>
    <% if show_up_link %>
      <%= link_to '上移', up_tracking_list_path(tracking_list.id), method: :post %>
    <% end %>
  </div>
  <div>
    <% tracking_list.stocks.each do |stock| %>
      <p>
        <%= "#{stock.code} - #{stock.name}" %>
      </p>
    <% end %>
  </div>
  <%= link_to '點我新增追蹤股', new_tracking_list_tracking_stock_record_path(tracking_list.id) %>
</div>
